html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 840px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul li,
ol li {
  list-style: none;
}


h1.logo {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: var(--survey-colors-blue-500);
  font-style: italic;

  span {
    color: var(--survey-colors-gray-200);
  }
}

:root {
  --survey-layout-max-width: 1600px;
  --survey-content-max-width: 1600px;

  --survey-colors-blue-700: #01316c;
  --survey-colors-blue-500: #00469d;

  --survey-colors-gray-500: #333;
  --survey-colors-gray-400: #555;
  --survey-colors-gray-300: #a0aec0;
  --survey-colors-gray-200: #eee;
  --survey-colors-gray-100: #f8f8f8;
}