html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul li,
ol li {
  list-style: none;
}

:root {
  --contentMaxWidth: 1200px;
  --mainColor: #4299E1;
  --mediumGrayColor: #A0AEC0;
  --mediumText: 300;
  --boldText: 500;
}